<!DOCTYPE html>

<html>
<head>
    <title>TAREA 6 SOFTWARE AVANZADO</title>
</head>
<body> 
    <P>Tarea 6 Software </P>
        {% for dato in datos %}
            <li> {{dato[0]}}, {{dato[1]}}, {{dato[2]}}</li>
        {% endfor%}
</body>
</html>